<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ustmdevelopers</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="~/img/brand/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ustmdevelopers.styles.css" asp-append-version="true" />
</head>
<body>
    @* <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">ustmdevelopers</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header> *@
    @* Navbar section *@
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">
                <!-- Brand here -->
                @* <img src="~/img/brand/logo.svg" alt="brand"> *@
                <span class="py-1 px-3 bg-secondary text-light fw-bolder">udevs</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#">Questions</a>
                    <a class="nav-link" href="#">Communities</a>
                    @* <a class="nav-link me-5" href="#">Template</a> *@
                    <a asp-area="" class="nav-link me-5" asp-page="/Privacy">Chats</a>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
    @* Navbar section *@







    @* <div class="container"> *@
        <main role="main" class="">
            @RenderBody()
        </main>
    @* </div> *@

        <!-- Footer section -->
    @* <footer class="pt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row row-cols-1 row-cols-lg-5 g-2 g-lg-3">
                        <div class="col-md-3">
                            <div>
                                <small>
                                    <a href="#" class="text-decoration-none">Home</a>
                                </small>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                <small>
                                    <a href="#" class="text-decoration-none">Features</a>
                                </small>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                <small>
                                    <a href="#" class="text-decoration-none">Pricing</a>
                                </small>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                <small>
                                    @* <a href="#" class="text-decoration-none">Privacy</a> *d@
                                    <a asp-area="" asp-page="/Privacy">Privacy</a>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copy">
                    &copy; 2022 - ustmdevelopers
                </div>
            </div>
        </div>
    </footer> *@
    <!-- Remove the container if you want to extend the Footer to full width. -->

<!-- Remove the container if you want to extend the Footer to full width. -->


  <footer class="text-white text-center text-lg-start mt-5" style="background-color: #23242a;">
      <div class="container">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row mt-4">
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">About USTM Developers</h5>

          <p>
            A Web based community made to help people to interact in a virtual enviroment to share learn and have some fun on the go.
          </p>

          <p>
            Being the best platf form lghtweight and neatly responsive app every one from every can access, either belons to USTM or not you are welcome
          </p>

          <div class="mt-4">
            <!-- Facebook -->
            <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-facebook-f"></i></a>
            <!-- Dribbble -->
            <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-dribbble"></i></a>
            <!-- Twitter -->
            <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-twitter"></i></a>
            <!-- Google + -->
            <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-google-plus-g"></i></a>
            <!-- Linkedin -->
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4 pb-1">Search Questions</h5>

          <div class="form-outline form-white mb-4">
            <input type="text" id="formControlLg" class="form-control form-control-lg">
            <label class="form-label" for="formControlLg" style="margin-left: 0px;">Search</label>
          <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 48.8px;"></div><div class="form-notch-trailing"></div></div></div>

          <ul class="fa-ul" style="margin-left: 1.65em;">
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Av. Ahmed Sekou Touré n.610 RC</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">info@ustm.ac.mz</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+ 21 327 274 </span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-print"></i></span><span class="ms-2">+ 258 84 301 3013</span>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Links úteis</h5>



          <ul class="list-group list-group-flush" style="">

            <a class="list-group-item mb-3 text-light" style="background-color: #23242a;" href="https://login.live.com/login.srf?wa=wsignin1.0&amp;rpsnv=13&amp;ct=1616226547&amp;rver=7.0.6737.0&amp;wp=MBI_SSL&amp;wreply=https%3a%2f%2foutlook.live.com%2fowa%2f%3fnlp%3d1%26RpsCsrfState%3d0652fec1-b564-9723-909d-fbba3dd352a6&amp;id=292841&amp;aadredir=1&amp;whr=hotmail.com&amp;CBCXT=out&amp;lw=1&amp;fl=dob%2cflname%2cwld&amp;cobrandid=90015" target="_blank">Webmail</a>
            <a class="list-group-item mb-3 text-light" style="background-color: #23242a;" href="http://edondzo.ustm.ac.mz" target="_blank">Sistema Edondzo</a>
            <a class="list-group-item mb-3 text-light" style="background-color: #23242a;" href="http://ustm.ac.mz/Docs/CA2020.pdf" target="_blank">Calendário Académico</a>
            <a class="list-group-item mb-3 text-light" style="background-color: #23242a;" href="http://revista-suma.ustm.ac.mz" target="_blank">Revista Summa</a>
            <a class="list-group-item mb-3 text-light" style="background-color: #23242a;" href="http://41.94.14.9/Biblivre4/" target="_blank">Biblioteca online</a>
            <a class="list-group-item mb-3 text-light" style="background-color: #23242a;" href="https://ustm.ac.mz/index.php/en/pesquisas-e-publicacoes/dcpe">Direcção Científica</a>
            <a class="list-group-item mb-3 text-light" style="background-color: #23242a;" href="mailto:sugestoes@ustm.ac.mz">Sugestões</a>
            <a class="list-group-item mb-3 text-light" style="background-color: #23242a;" href="mailto:reclamacoes@ustm.ac.mz">Reclamações</a>
          </ul>



                
   

    
		</div>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white lead" href="/">udevs</a>
    </div>
    <!-- Copyright -->

    </div>
    <!-- End of .container -->
  </footer>
  




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>