@page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager





@if (SignInManager.IsSignedIn(User))
{
    
     <div>Hello home</div>
}
else
{
    @model IndexModel;

    ViewData["Title"] = "Home page";


    <!-- Hero section -->
    <section class="hero py-5">
        <div class="container">
            <div class="row">
                <!-- Text -->
                <div class="col-md-6">
                    <div class="text lead">
                        Collaborate to find more plausable answers and learn & chat
                    </div>
                    <div class="buttons">
                        <a href="#" class="btn btn-primary">Donate</a>
                        <a href="#" class="btn btn-outline-secondary ms-3">USTM</a>
                    </div>
                </div>
                <!-- Image -->
                <div class="col-md-6">
                    <img src="~/img/undraw_static_assets_rpm6.svg" alt="hero-img" class="w-100 img-fluid">
                </div>
            </div>
        </div>
    </section>
    <!-- Setup section -->
    <section class="setup py-5">
        <div class="container">
            <div class="text-header text-center">
                <h3>Check out what you can do</h3>
                <p class="lead">USTM Developers as a ton of tools to keep your learning easy and simple.</p>
            </div>
            <div class="items text-center">
                <div class="row">
                    <div class="col-md-4">
                        <div class="icons">
                            <img src="~/img/icons/icons-1.svg" alt="icons">
                        </div>
                        <div class="desc">
                            <h5>Question Post</h5>
                            <p>Here you can find answers for any question you have, by posting the you question you
                                 have access to the community answers pool </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="icons">
                            <img src="~/img/icons/icons-2.svg" alt="icons">
                        </div>
                        <div class="desc">
                            <h5>Community</h5>
                            <p>You can have access to the larges communities of ustm about certain topics and have 
                                direct intereaction to network way down to learning and sharps skills</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="icons">
                            <img src="~/img/icons/icons-3.svg" alt="icons">
                        </div>
                        <div class="desc">
                            <h5>Chats</h5>
                            <p>Individual and singular chat, here you can have a consversation with your teams mates 
                                on the most privite and privacy respectiful mozambican platform for sharing knowledge</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Information section -->
    <section class="information">
        <div class="container">
            <div class="row info-1 py-5">
                <!-- Text -->
                <div class="col-md-6">
                    <div class="text-information">
                        <h5>Get more acurate solution midnset</h5>
                        <p class="lead">Being a local resourceyou get the advantage of  more acurate and location based answers.</p>
                    </div>
                </div>
                <!-- Image -->
                <div class="col-md-6">
                    <img src="~/img/undraw_solution_mindset_re_57bf.svg" alt="img-1" class="w-100">
                </div>
            </div>
            <div class="row info-2">
                <!-- Image -->
                <div class="col-md-6">
                    <img src="~/img/undraw_mathematics_-4-otb.svg" alt="img-2" class="w-100">
                </div>
                <!-- Text -->
                <div class="col-md-6">
                    <div class="text-information">
                        <h5>Digital study group</h5>
                        <p class="lead">It provides the advantage of being online to get a virtual enviroment for yyour studies with the team.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5">
                <!-- Page Content -->
        <div class="container">
        <div class="row">
            <!-- Team Member 1 -->
            <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="~/img/new (copy).jpeg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                <h5 class="card-title mb-0">Ailton Bauque</h5>
                <div class="card-text text-black-50">Software Engineer</div>
                </div>
            </div>
            </div>
            <!-- Team Member 2 -->
            <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top" alt="...">
                <div class="card-body text-center">
                <h5 class="card-title mb-0">Enayatolah Badru</h5>
                <div class="card-text text-black-50">Frontend Developer</div>
                </div>
            </div>
            </div>
            <!-- Team Member 3 -->
            <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://source.unsplash.com/sNut2MqSmds/500x350" class="card-img-top" alt="...">
                <div class="card-body text-center">
                <h5 class="card-title mb-0">Evandro Mate</h5>
                <div class="card-text text-black-50">Backend Developer</div>
                </div>
            </div>
            </div>
            <!-- Team Member 4 -->
            <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://source.unsplash.com/7u5mwbu7qLg/500x350" class="card-img-top" alt="...">
                <div class="card-body text-center">
                <h5 class="card-title mb-0">Zito Janato</h5>
                <div class="card-text text-black-50">DeveOps Engineer</div>
                </div>
            </div>
            </div>
            <!-- Team Member 5 -->
            <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://source.unsplash.com/9UVmlIb0wJU/500x350" class="card-img-top" alt="...">
                <div class="card-body text-center">
                <h5 class="card-title mb-0">Wildson Muchanga</h5>
                <div class="card-text text-black-50">Designer</div>
                </div>
            </div>
            </div>
        </div>
        <!-- /.row -->

        </div>
        <!-- /.container -->
    </section>
}











